<ul class="nav navbar-nav side-nav">
    <li>
        <a class="disabled"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        <ul>
            <li class="active">
                <a [routerLink]="['/DailyDashboard']">Summary
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
                <a [routerLink]="['/BrowserDashboard']">Browser
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
                <a [routerLink]="['/AndroidDashboard']">Android
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
                <a [routerLink]="['/IOSDashboard']">IOS
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
                <a [routerLink]="['/WindowsPhoneDashboard']">Windows Phone
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
            </li>
        </ul>
    </li>
    <li>
        <a class="disabled"><i class="fa fa-fw fa fa-bar-chart"></i> Analysis</a>
        <ul>
            <li class="active">
                <a [routerLink]="['/EventComparison']">Event Comparison
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
            </li>
        </ul>
    </li>
</ul>