<ul class="nav navbar-nav side-nav">
    <li>
        <a class="disabled"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        <ul>
            <li class="active">
                <a href="index.html">Summary
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
                <a href="index.html">Browser
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
                <a href="index.html">Android
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
                <a href="index.html">IOS
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
                <a href="index.html">WindowsPhone
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
            </li>
        </ul>
    </li>
    <li>
        <a class="disabled"><i class="fa fa-fw fa fa-bar-chart"></i> Analysis</a>
        <ul>
            <li class="active">
                <a href="index.html">Event Analysis
                    <span class="icon-arrow-right pull-right"><i class="fa fa-chevron-right"></i></span></a>
            </li>
        </ul>
    </li>
</ul>